<app-sidebar *ngIf="isLogin"></app-sidebar>
<div id="site_wrapper"  [ngClass]="{'active': !isLogin}">
  <app-header></app-header>
  <div id="main_page" class="clearfix">
    <div id="videos_home">
      <div class="container">
        <div class="video_post feat">
          <div class="vide_thumb">
            <div class="video_thumb">
              <img src="assets/images/featv_thumb.jpg"  alt=""/>
              <a href="#" class="share"></a>
            </div>
            <div class="container">
              <div class="clearfix video_info">
                <div class="category">Sports > Basketball > <span>Dunks</span></div>
                <div class="post_meta">
                  <div class="user_img"><img src="assets/images/video_byuser.jpg"  alt=""/></div>
                  <div class="user_info">
                    <div class="user_title"><a href="subpage.html">AbuBakar Butt</a></div>
                    <div class="posted_t"> 35minutes ago 	</div>
                    <div class="location">Lahore,Pakistan</div>
                  </div>
                  <div class="clear"></div>
                  <div class="post_actions">
                    <a class="like action" href="#">42</a>
                    <a class="comments action" href="#">42</a>
                    <a class="hottest action" href="#">42</a>
                    <!-- <span class="category action" ><a href="#">Sports</a> > <a href="#">Basketball</a> > Dunks</span>-->
                    <span class="police" ><img src="assets/images/avatar.png"  alt=""/></span>
                  </div>

                </div>
              </div>


            </div>
            <div class="comment-section">
              <div class="">
                <div class="comment clearfix">
                  <div class="coment_by">
                    <div class="img"><img src="assets/images/bb.jpg"></div>
                    <div class="name">
                      <span>AbuBakar Butt</span>
                      <span class="like">1hr ago</span>
                    </div>
                    <div class="clear"></div>
                  </div>
                  <div class="comment_text">
                    This video is just amazing. This video is just amazing.

                  </div>
                </div>
                <div class="comment clearfix">
                  <div class="coment_by">
                    <div class="img"><img src="assets/images/bb.jpg"></div>
                    <div class="name">
                      <span>AbuBakar Butt</span>
                      <span class="like">1hr ago</span>
                    </div>
                    <div class="clear"></div>
                  </div>
                  <div class="comment_text">
                    This video is just amazing. This video is just amazing.

                  </div>
                </div>
                <div class="comment clearfix">
                  <div class="coment_by">
                    <div class="img"><img src="assets/images/bb.jpg"></div>
                    <div class="name">
                      <span>AbuBakar Butt</span>
                      <span class="like">1hr ago</span>
                    </div>
                    <div class="clear"></div>
                  </div>
                  <div class="comment_text">
                    This video is just amazing. This video is just amazing.
                    This video is just amazing. This video is just amazing. This video is just amazing. This video is just amazing. This video is just amazing. This video is just amazing.
                  </div>
                </div>
              </div>
              <div class="comment clearfix">
                <form>
                  <div class="coment_by">
                    <div class="img"><img src="assets/images/bb.jpg"></div>
                  </div>
                  <div class="comment_text">
                    <textarea placeholder="Write a comment"></textarea>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-home-page></app-home-page>
    </div>
  </div>
  <div id="popup_boxs" class="popup_box" style="width:400px;display: none;">

    <div class="lgo"><img src="assets/images/bestco.png"><div class="logo-text"> What are you the Best @?</div></div>
    <style>
      .popup_boxs .upload_btn {
        position: static;
        font-size: 20px;
        margin-bottom: 0px;
        color: #fff;
        padding: 15px;
        border-radius: none !important;
      }
      .popup_boxs .upload_btn.signin  {
        color:#999;
        cursor:default;
      }
      .lgo img {
        max-width: 50px;
      }
      .popup_boxs form {

        overflow: auto;
        padding: 20px 15px 45px 15px;
      }
      @media (min-width:768px) {
        .popup_box form {
          max-height:400px;
          overflow: auto;
        }
      }
      .fancybox-skin {
        padding: 0 !important;
      }
      .lgo {
        margin-bottom: 5px;
      }
    </style>
    <div class=" clearfix">
      <div class="clear"></div>
      <form id="signupform" class="clearfix" style="display:none;">


        <div class="clear"></div>
        <div class="row clearfix">
          <div class="col-sm-6">
            <input placeholder="First Name" type="text">
          </div>
          <div class="col-sm-6">
            <input placeholder="Last Name" type="text">
          </div>
        </div>
        <div class="row clearfix">
          <div class="col-sm-12">
            <input placeholder="Email Address" type="text">
          </div>

        </div>
        <div class="row clearfix">
          <div class="col-sm-12">
            <input placeholder="Password" type="text">
          </div>

        </div>
        <div class="row clearfix">
          <div class="col-sm-12">
            <input placeholder="Retype Password" type="text">
          </div>

        </div>
        <div class="row clearfix">
          <div class="col-sm-12">
            Gender :
            <label for="male">Male</label><input id="male" type="radio" name="gender">
            <label for="female">Female</label><input id="female" type="radio" name="gender">
          </div>

        </div>

        <div class="row clearfix">
          <div class="col-sm-12">
            <div class="custom_file">
              <input type="file">
              Browse photo or video
            </div>
          </div>
        </div>
        <div class="row clearfix">
          <div class="col-sm-12">
            <textarea>Bio goes Here</textarea>
          </div>

        </div>
        <div class="clearfix text-right">
          <div class="col-sm-12">
            <a class="btn" href="#">Submit</a>
          </div>
        </div>


      </form>
      <form id="login" class="clearfix">


        <div class="clear"></div>
        <div class="row clearfix">
          <div class="col-sm-12">
            <input placeholder="Email Address" type="text">
          </div>

        </div>
        <div class="row clearfix">
          <div class="col-sm-12">
            <input placeholder="Password" type="text">
          </div>

        </div>
        <div class="clearfix text-right">
          <div class="col-sm-12">
            <a class="btn" href="#">Submit</a>
          </div>
        </div>

      </form>
    </div>


  </div>
  <div id="popup_box" class="popup_box" style="width:800px;display: none;">

    <div class="lgo"><img src="assets/images/bestco.png"><div class="logo-text"> What are you the Best @?</div></div>
    <form>
      <div class="color-bar">
        <span class="color"></span><span class="color second"></span><span class="color third"></span><span class="color fourth"></span>
      </div>
      <div class="f_head">Have a skill? Share with your fans, share with the world.</div>
      <div class="clearfix">
        <div class="col-sm-6">
          <div class="custom_select">
            <label>
              <select>
                <option>Main Category</option>
              </select>
            </label>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="custom_select">
            <label>
              <select>
                <option>Sub Category</option>
              </select>
            </label>
          </div>
        </div>
      </div>
      <div class="clearfix">
        <div class="col-sm-6">
          <input placeholder="Subcategory 2" type="text">
        </div>
        <div class="col-sm-6">
          <input placeholder="Subcategory 3" type="text">
        </div>
      </div>
      <div class="clearfix">
        <div class="col-sm-12">
          <div class="custom_file">
            <input type="file">
            Browse photo or video
          </div>
        </div>
      </div>
      <div class="clearfix text-right">
        <div class="col-sm-12">
          <a class="btn" href="#">Upload photo or video</a>
        </div>
      </div>
      <div class="clearfix text-right">
        <div class="col-sm-12">
          <a href="#">Dont see the subcategories, Add new</a>
        </div>
      </div>
    </form>
  </div>
</div>
