<div id="site_bar" class="mCustomScrollbar">
  <div class="fl">
    <div id="user_img"><a href="profile.html"><img src="assets/images/userno.jpg"  alt=""/></a> </div>
    <a class="search-icon icon" href="#" (click)="open(content)">&nbsp;</a>
    <a class="message-icon icon" href="message.html">&nbsp;</a>
    <a class="alarm-icon icon" href="notification.html">&nbsp;</a>
    <a class="setting-icon icon" href="#">&nbsp;</a>
  </div>
  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Create a Post</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #PostForm="ngForm" (ngSubmit)="createPost(PostForm.value)" enctype="multipart/form-data">
        <div class="alert alert-danger" *ngIf="loginFailed">
          <strong>Login Failed!</strong> Email or Password didnt match.
        </div>
        <div class="form-group">
          <label for="description">Post Description:</label>
          <textarea class="form-control"  name="description" id="description" required="" [(ngModel)]="PostForm.text"></textarea>
        </div>
        <div class="form-group">
          <label for="image">Upload img or video:</label>
          <input id="image" name="image" type="file" [(ngModel)]="PostForm.file">
        </div>
        <!--<div class="form-check">-->
        <!--<label class="form-check-label">-->
        <!--<input class="form-check-input" type="checkbox"> Remember me-->
        <!--</label>-->
        <!--</div>-->
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

  </ng-template>

</div>
