<div class="container">
  <div class="row clearfix">
    <div class="col-md-4 col-xs-12">
      <div *ngFor="let post of posts | postFilter"  class="video_post" >
        <div class="video_thumb">
          <img src="{{post.post_img}}"  alt=""/>
          <a href="#" class="share"></a>
        </div>
        <div class="video_meta">
          <div class="u_img"><img src="assets/images/video_byuser.jpg"  alt=""/></div>
          <div class="right_meta">
            <div class="user_name">{{post.name}}</div>
            <div class="clear"></div>
            <div class="time_loc">
              <div class="time fl">{{post.created_at}}</div>
              <div class="location fl">{{post.location}}</div>
            </div>
          </div>
          <div class="clear"></div>
          <div class="post_actions clearfix">
            <a class="like action" href="#">{{post.likes}}</a>
            <a class="comments action" href="#">{{post.comments}}</a>
            <a class="hottest action" href="#">{{post.hottest}}</a>
            <a class="become_fan inline_block action" href="#">Become a Fan</a>
            <span class="fr"><img src="assets/images/avatar.png"  alt=""/></span>
          </div>
          <div *ngIf="post.comments_list.length" class="comment-section">
            <div class="">
              <div *ngFor="let comment of post.comments_list" class="comment clearfix">
                <div class="coment_by">
                  <div class="img"><img src="{{comment.user_img}}"></div>
                  <div class="name">
                    <span>{{comment.user_name}}</span>
                    <span class="like">1hr ago</span>
                  </div>
                  <div class="clear"></div>
                </div>
                <div class="comment_text">
                  {{comment.comment_text}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-xs-12">
      <div *ngFor="let post of posts | postFilter2"  class="video_post" >
        <div class="video_thumb">
          <img src="{{post.post_img}}"  alt=""/>
          <a href="#" class="share"></a>
        </div>
        <div class="video_meta">
          <div class="u_img"><img src="assets/images/video_byuser.jpg"  alt=""/></div>
          <div class="right_meta">
            <div class="user_name">{{post.name}}</div>
            <div class="clear"></div>
            <div class="time_loc">
              <div class="time fl">{{post.created_at}}</div>
              <div class="location fl">{{post.location}}</div>
            </div>
          </div>
          <div class="clear"></div>
          <div class="post_actions clearfix">
            <a class="like action" href="#">{{post.likes}}</a>
            <a class="comments action" href="#">{{post.comments}}</a>
            <a class="hottest action" href="#">{{post.hottest}}</a>
            <a class="become_fan inline_block action" href="#">Become a Fan</a>
            <span class="fr"><img src="assets/images/avatar.png"  alt=""/></span>
          </div>
          <div *ngIf="post.comments_list.length" class="comment-section">
            <div class="">
              <div *ngFor="let comment of post.comments_list" class="comment clearfix">
                <div class="coment_by">
                  <div class="img"><img src="{{comment.user_img}}"></div>
                  <div class="name">
                    <span>{{comment.user_name}}</span>
                    <span class="like">1hr ago</span>
                  </div>
                  <div class="clear"></div>
                </div>
                <div class="comment_text">
                  {{comment.comment_text}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-xs-12">
      <div *ngFor="let post of posts | postFilter3"  class="video_post" >
        <div class="video_thumb">
          <img src="{{post.post_img}}"  alt=""/>
          <a href="#" class="share"></a>
        </div>
        <div class="video_meta">
          <div class="u_img"><img src="assets/images/video_byuser.jpg"  alt=""/></div>
          <div class="right_meta">
            <div class="user_name">{{post.name}}</div>
            <div class="clear"></div>
            <div class="time_loc">
              <div class="time fl">{{post.created_at}}</div>
              <div class="location fl">{{post.location}}</div>
            </div>
          </div>
          <div class="clear"></div>
          <div class="post_actions clearfix">
            <a class="like action" href="#">{{post.likes}}</a>
            <a class="comments action" href="#">{{post.comments}}</a>
            <a class="hottest action" href="#">{{post.hottest}}</a>
            <a class="become_fan inline_block action" href="#">Become a Fan</a>
            <span class="fr"><img src="assets/images/avatar.png"  alt=""/></span>
          </div>
          <div *ngIf="post.comments_list.length" class="comment-section">
            <div class="">
              <div *ngFor="let comment of post.comments_list" class="comment clearfix">
                <div class="coment_by">
                  <div class="img"><img src="{{comment.user_img}}"></div>
                  <div class="name">
                    <span>{{comment.user_name}}</span>
                    <span class="like">1hr ago</span>
                  </div>
                  <div class="clear"></div>
                </div>
                <div class="comment_text">
                  {{comment.comment_text}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  </div>
